<DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Team</title>
<link href="{{STATIC_URL}}css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="header" class="alt">
<nav id="nav">
      <ul>
        <li class="special">
             <a href="#" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                 <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/signup">Sign Up</a></li>
  	            <li><a href="/login">Log In</a></li>
        	  </ul>
                </div>
         </li>
      </ul>
   </nav>
</header>
<br><br>
<h1><center><b><u>Meet The Team </u></b></h1> <br>
<center><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11070531_10100130490732479_6570670242520953357_n.jpg?oh=f077c50d49ed7da6b05a543cb3e2234f&oe=55E55F76&__gda__=1436348169_8064ff408aec3356145798b4f062ebf9" height="300" width="300">
<!--<img src= "https://scontent-ord.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10384553_10154917334095455_6002850565165105604_n.jpg?oh=cd1f31a682fdb3ffc8651018d4eb9622&oe=55A52D2F" height="300" width="300"  > --><br>
<center><p>Rich Archer</p> <br><br>
<center><img src= "https://scontent-iad.xx.fbcdn.net/hphotos-xpa1/t31.0-8/10847557_10153820854108242_2094018625773172694_o.jpg" height="300" width="300" > <br>
<center><p>Richard Bavis</p> <br><br>
<center><img src= "https://scontent-1.2914.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/1382847_10153964371755455_1671061423_n.jpg?oh=43b7c17f9dd57ccbed10640f7181d5f1&oe=55DE2768 " height="300" width="300" >
<center><p>Sarah Chandel</p> <br><br>
<center><img src= "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10891951_10203490186675588_8974656360844369292_n.jpg?oh=dbd5885c21345671d3455e4185901f3e&oe=55AF3E1E&__gda__=1436265035_9f2e868870b0af6a96f466c1d083db07" height="300" width"300"  > <br>
<center><p>Carol Luk</p> <br><br>
<center><img src= "https://scontent-iad.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11062722_10105903367571000_5028095918658072743_n.jpg?oh=04968b1a594f81c070e942ba241abe3f&oe=55DE38C6 " height="300" width="300"  > <br>
<p><center>Krish Maharaj</p> <br><br>


 <script src="{{STATIC_URL}}js/jquery.min.js"></script>
                        <script src="{{STATIC_URL}}js/jquery.scrollex.min.js"></script>
                        <script src="{{STATIC_URL}}js/jquery.scrolly.min.js"></script>
                        <script src="{{STATIC_URL}}js/skel.min.js"></script>
                        <script src="{{STATIC_URL}}js/init.js"></script>





</body>
</html>
